.mt-4 {
  margin-top: 4rem;
}

.mt-2 {
  margin-top: 2rem;
}
.mt-1 {
  margin-top: 1rem;
}
.text-gray {
  color: var(--grey);
}
.text-center {
  text-align: center;
}
.mb-1 {
  margin-bottom: 1rem;
}
.text-primary {
  color: var(--green);
}
.text-link {
  text-decoration: underline;
}
.pl-2 {
  padding-left: 2rem;
}

.align-center {
  align-items: center;
}
.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}