.items-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.align-center {
  align-items: center;
}

.link-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.items-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.elem-center {
  display: table;
  margin: 0 auto;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.grey-1 {
  color: #7a7a7a;
}

.grey-2 {
  color: #525252;
}

.text-accent {
  color: #5d2d91;
}

.mtb-3 {
  margin: 3rem 0;
}

.mtb-1 {
  margin: 1rem 0;
}

.pa-1 {
  padding: 1rem;
}