%submenu {
  position: absolute;
  min-width: 300px;
  display: flex;
  flex-flow: column wrap;
  border: 1px solid var(--grey);
  background-color: #FFFFFF;
  padding: 15px 0;
  z-index: 2;
  font-size: 14px;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s var(--transition-func), opacity .3s  var(--transition-func);
  box-shadow: var(--shadow);
  gap: 10px;
  margin: 0;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 20;
  box-shadow: var(--shadow);
  overflow: visible;
  .layout__container {
    padding: 0 1rem;
    //margin: 0 1rem;
  }
  &__nav-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .col {
      flex-flow: row;
      align-items: flex-start;
    }
  }
  &__nav {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 13px;
    &__title {
      font-weight: normal;
      line-height: 70px;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 5px;
      &__img {
        height: 18px;
        width: auto;
        transition: transform .3s var(--transition-func);
      }
    }
    &__submenu {
      @extend %submenu;
      right: 0;
      top: 100%;
      &__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 2px;
        transition: color .3s var(--transition-func), border-left-color .3s var(--transition-func);
        border-left: 2px solid var(--grey);
        padding: 3px 5px;
        &__icon {
          fill: var(--grey);
          transition: transform .3s var(--transition-func);
        }
      }
    }
    &:hover {
      .header__nav__title {
        color: var(--green);
      }
      .header__nav__submenu {
        visibility: visible;
        opacity: 1;
      }
      .header__nav__title__img {
        transform: rotate(180deg);
      }
    }
    &__submenu2 {
      @extend %submenu;
      right: 0;
      top: 0;
      transform: translateX(100%);
    }
  }
  &__web-menu {
    flex-shrink: 0;
  }
  &__logo-wrap {
    flex-shrink: 1;
  }
  ul {
    li {
      display: flex;
      align-items: center;
      position: relative;
      list-style-type: none;
      padding: 0 15px;
      &:hover {
        &>.header__nav__submenu__item {
          border-left: 2px solid var(--green);
          color: var(--green);
          &__icon {
            transform: translateX(5px);
            fill: var(--green);
          }
        }
        &>.header__nav__submenu2 {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.header-mobile {
  width: 100%;
  display: none;
  padding: 10px;
  justify-content: space-between;
}

.mm-spn li:before {
  right: calc(var(--mm-spn-item-height) / 2 - 8px);
}

//------------------------------------------------- MEDIA ------------------------------------------------------//
@media only screen and (max-width : 1200px) {
  .header-mobile {
    display: flex;
  }
  .header__nav-container {
    display: none;
  }
}