.swiper {
  width: 100%;
  height: 100%;
  picture {
    display: inline-block;
    width: 100%;
    height: 430px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slider-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

//.swiper-button-next, .swiper-button-prev {
//  color: var(--green);
//}

//------------------------------------------------- MEDIA ------------------------------------------------------//
@media only screen and (max-width : 1400px) {
  .slider {
    .layout__container {
      padding-left: 50px;
    }
  }
}

@media only screen and (max-width : 500px) {
  .slider {
    .layout__container {
      padding-left: 0;
    }
  }
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}