.slider {
  height: 430px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}


.slider-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.swiper {
  width: 100%;
  height: 100%;
  picture {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.swiper__button {
  padding: 2rem;
  border-radius: 1rem;
  transition: background-color var(--transition-time) var(--transition-func);
  border: 2px solid var(--green);
  &:hover {
    background-color: #176b1642;
    border-radius: 1rem;
  }
}

.swiper-pagination-bullet {
  background-color: #FFFFFF;
}


//------------------------------------------------- MEDIA ------------------------------------------------------//
@media only screen and (max-width : 1500px) {
  .slider {
    .layout__container {
      position: relative;
    }
  }
  .swiper-btn-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    margin-top: 1rem;
  }
  .swiper__button {
    position: relative;
    left: unset;
    top: unset;
    right: unset;
    margin-top: unset;
  }
}

@media only screen and (max-width : 500px) {
  .slider {
    .layout__container {
      height: 100%;
      justify-content: space-around;
    }
  }
  .swiper-btn-container {
    display: none;
  }
  .swiper img {
    object-position: center;
  }
  .slider h1 {
    font-size: 1.6em;
  }
  //.swiper-button-next, .swiper-button-prev {
  //  display: none;
  //}
}