
.table-container {
  width: 100%;
  margin-top: 1rem;
  //overflow-x: scroll;
  //padding: 10px;
}

table {
  width: 100%;
  min-width: 800px;
  padding: 1rem;
  background-color: #FFFFFF;
  border-collapse: collapse;
  thead {
    //background-color: var(--grey);
    color: #000000;
    th {
      font-weight: 500;
    }
  }
  tbody {
    tr:nth-child(odd) {
      background-color: #c7c8ca66
    }
  }
  .table-cell {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 5px;
  }
  a {
    color: var(--green);
    transition: color var(--transition-func) var(--transition-time);
    text-decoration: underline;
    &:hover {
      color: #000000;
    }
  }
}

table, th, td {
  border: 1px solid #c7c8ca66;
}

//------------------------------------------------- MEDIA ------------------------------------------------------//
@media only screen and (max-width : 860px) {
  .table-container {
    overflow-x: scroll;
  }
}