<header class="layout header">
    <div class="layout__container">
        <div class="row">
            <div class="col">
                <img src="img/logo.png" class="logo-tcen" alt="микросхема">
            </div>
            <div class="col">
                <div>Разработка микросхем</div>
                <div>Поставка микросхем</div>
                <div>Подготовка разработчиков</div>
                <div>Научная деятельность</div>
                <div>О нас</div>
            </div>
        </div>
    </div>
</header>