// IMPORT SECTION
@import "node_modules/normalize.css/normalize";
@import "variables";

// FONTS LOAD SECTION
@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('Montserrat', normal, 300, '../fonts/Montserrat-Light.woff2');
@include font('Montserrat', normal, 400, '../fonts/Montserrat-Regular.woff2');
@include font('Montserrat', normal, 500, '../fonts/Montserrat-Medium.woff2');

// GENERAL DOCUMENT STYLES
::placeholder {
	color: #666
}



input, textarea{
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green
	}
}

body {
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	overflow-x: hidden;
	background-color: var(--layer-background);
}

* {
	box-sizing: border-box
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	border-radius: 20px;
	padding: 12px 20px;
	cursor: pointer;
}

.btn {
	display: flex;
	align-items: center;
	//margin: 0 auto;
	&__img {
		transition: transform var(--transition-time) var(--transition-func);
	}
}
.btn-primary {
	background-color: #FFFFFF;
	border: 2px solid var(--green);
}

input, textarea, select {
	border: none;
}

h1, h2, h3, h4 {
	font-weight: 500;
	margin: 0;
}
