:root {
    --layer-background: #F5F5F5;
    --green: #1b5525;
    --primary2: #638e68;
    --grey: #C7C8CA;
    --secondary: rgba(199, 200, 202, 0.4);
    --shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    --transition-time: .22s;
    --transition-func: cubic-bezier(0,0,.2,1);
    --header-height: 70px;
    --footer-height: 320px;
    --swiper-theme-color: #FFF;
    --border-radius: 15px;


    --brand-primary: #1b5525;
    --brand-low-contrast: #638e68;
    --brand-high-contrast: #517154;
    --text-body: rgb(54, 49, 61);
    --text-comment: rgb(99, 94, 105);
    --text-high-contrast: rgb(49, 49, 49);
    --text-medium-contrast: rgb(99, 94, 105);
    --text-low-contrast: rgb(116, 109, 118);
    --detail-high-contrast: rgb(192, 192, 192);
    --detail-medium-contrast: rgb(234, 234, 234);
    --detail-low-contrast: rgb(240, 240, 242);
    --brand-primary-rgb-value: 47, 112, 193;
    --text-body-rgb-value: 54, 49, 61;
    --text-comment-rgb-value: 99, 94, 105;
    --text-high-contrast-rgb-value: 49, 49, 49;
    --text-medium-contrast-rgb-value: 99, 94, 105;
    --text-low-contrast-rgb-value: 116, 109, 118;
    --detail-high-contrast-rgb-value: 192, 192, 192;
    --detail-medium-contrast-rgb-value: 234, 234, 234;
    --detail-low-contrast-rgb-value: 240, 240, 242;
}