:root {
    --layer-background: #F5F5F5;
    --green: #176B16;
    --grey: #C7C8CA;
    --shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    --transition-time: .22s;
    --transition-func: cubic-bezier(0,0,.2,1);
}