$accent: #5f5466;
// Accent Color
$accent2: #e8e8e8;
$accent3: #f5d101;
$fontsize: 18px; // Body Font Size
$textColor: #8c8789; // Text Color
$textColor-active: #ffff;
$zIndex: 1;
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$font: Montserrat;
$title-font: Montserrat;
$shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);