@import "app/assets/css/config";
@import "app/assets/css/layout/layout";
@import "app/assets/css/helpers/helpers";
@import "app/assets/css/components/header";
@import "app/assets/css/components/footer";
@import "app/assets/css/components/breadcrumbs";
@import "app/assets/css/components/card-grid";
@import "app/assets/css/components/coming-soon";
@import "app/assets/css/components/burger";
@import "app/assets/css/components/button";
@import "app/assets/css/components/table";
@import "app/assets/css/components/swiper";
@import "app/assets/css/components/card-text";
@import "app/assets/css/components/banner";


.logo-tcen {
  width: 100%;
  max-width: 180px;
  height: auto;
}


.about-page {
  &__img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    border-radius: 15px;
    object-fit: cover;
  }
  ul {
    margin-left: 2rem;
  }
}

.contact-page {
  .contacts-list {
    list-style-type: none;
  }
}

#map {
  width: 100%;
  height: 500px;
}

.book {
  &__img {
    max-width: 200px;
    height: auto;
  }
  &__description {
    width: 100%;
    max-width: 900px;
  }
}


