@import "app/assets/css/config";
@import "app/assets/css/layout/layout";
@import "app/assets/css/helpers/helpers";
@import "app/assets/css/components/header";
@import "app/assets/css/components/footer";
@import "app/assets/css/components/breadcrumbs";
@import "app/assets/css/components/card-grid";
@import "app/assets/css/components/coming-soon";
@import "app/assets/css/components/burger";
@import "app/assets/css/components/button";
@import "app/assets/css/components/table";
@import "app/assets/css/components/swiper";
@import "app/assets/css/components/card-text";


.logo-tcen {
  width: 100%;
  max-width: 180px;
  height: auto;
}

.banner {
  width: 100%;
  height: 430px;
  position: relative;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  };
}

.about-page {
  //picture {
  //  width: 100%;
  //}
  &__img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    border-radius: 15px;
    object-fit: cover;
  }
  ul {
    margin-left: 2rem;
  }
}

