@import "app/assets/css/config";
@import "app/assets/css/layout/layout";
@import "app/assets/css/helpers/helpers";
@import "app/assets/css/components/header";
@import "app/assets/css/components/footer";
@import "app/assets/css/components/breadcrumbs";
@import "app/assets/css/components/card-grid";
@import "app/assets/css/components/coming-soon";
@import "app/assets/css/components/burger";
@import "app/assets/css/components/button";
@import "app/assets/css/components/table";
@import "app/assets/css/components/swiper";
@import "app/assets/css/components/card-text";
@import "app/assets/css/components/banner";
@import "app/assets/css/components/subscribe";
@import "app/assets/css/components/emblaCarousel";
@import "app/assets/css/components/news";
@import "app/assets/css/components/pagination";


.page-title {
  width: 100%;
  max-width: 600px;
}

.logo-tcen {
  width: 100%;
  max-width: 180px;
  height: auto;
}

.img-responsive {
  width: 100%;
  max-width: 800px;
  height: auto;
}


.about-page {
  &__img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    border-radius: 15px;
    object-fit: cover;
  }
  ul {
    margin-left: 2rem;
  }
}

.contact-page {
  .contacts-list {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    &>li {
      max-width: 280px;
      display: flex;
      justify-content: space-between;
    }
  }
  .transport {
    padding-left: 1em;
    &>li {
      margin-top: 1em;
      list-style-type: none;
      //&::marker {
      //  color: var(--green);
      //  font-weight: 600;
      //}
    }
  }
}

#map {
  width: 100%;
  height: 500px;
}

.book {
  &__img {
    max-width: 200px;
    height: auto;
  }
  &__description {
    width: 100%;
    max-width: 900px;
  }
}

.inside-page {
  .layout {
    overflow: unset;
  }
  &__container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    position: relative;
  }
  &__nav {
    //height: 100%;
    position: sticky;
    top: 90px;
    max-height: 600px;
    flex-shrink: 0;
    padding: 10px;
    border: 2px solid var(--grey);
    border-radius: var(--border-radius);
    background-color: #FFFFFF;
    ul {
      margin: 0;
      padding: 0;
      background-color: #FFFFFF;
    }
    /* width */
    ::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 15px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      //background: #888;
      background: var(--primary2);;
      border-radius: 15px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    &__container {
      width: 250px;
      height: 100%;
      //max-height: 600px;
      overflow-y: scroll;
      list-style-type: none;
    }
    &__item {
      //margin: 10px 0;
      padding: 6px;
      transition: background-color var(--transition-time) var(--transition-func), color var(--transition-func) var(--transition-time);
      margin-right: 5px;
      &:hover {
        //color: var(--green);
        background-color: var(--secondary);
        color: #000000;
      }
      a {
        width: 100%;
        word-break: break-word;
      }
    }
    &__item.active {
      background-color: var(--secondary);
      color: #000000;
    }
    &__item:first-child {
      margin-top: 10px;
    }
    &__item:last-child {
      margin-bottom: 10px;
    }
    &__item:not(:first-child) {
      border-top: 1px solid var(--secondary);
    }
  }
  &__content-container {
    width: 100%;
    border: 2px solid var(--grey);
    border-radius: var(--border-radius);
    flex-grow: 1;
    background-color: #FFFFFF;
    a {
      color: var(--primary2);
      text-decoration: underline;
      &:hover {
        color: var(--green);
      }
    }
  }
  &__content {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    text-align: justify;
  }
}

.benefits {
  padding-top: 2rem;
  padding-bottom: 2rem;
  &__title {
    text-align: center;
    color: #ffffff;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 2rem;
  }
  picture {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__items {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 0 0 33%;
    position: relative;
  }
  &__number {
    font-size: 5rem;
  }
  &__number-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
  }
  &__text {
    font-size: 2em;
    text-align: center;
  }
}
.sub-title {
  font-size: 2rem;
  //text-align: center;
  //color: var(--brand-primary);
  margin-bottom: 2rem;
}

.article {
  &__container {
    padding: 1rem;

  }
}

//------------------------------------------------- MEDIA ------------------------------------------------------//
@media only screen and (max-width : 1200px) {
  .inside-page {
    &__nav {
      display: none;
    }
  }
}

//------------------------------------------------- MEDIA ------------------------------------------------------//
@media only screen and (max-width : 500px) {
  .page-title {
    font-size: 1.7em;
  }
}