<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Inside page</title>
    <base href="../">
    <meta name="description" content="Startup HTML template OptimizedHTML 5">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="img/favicon.png">
    <meta property="og:image" content="img/preview.jpg">
    <link rel="stylesheet" href="css/vendors.css">
    <link rel="stylesheet" href="css/styles.css">
    <script defer src="js/vendors.js"></script>
    <script defer src="js/scripts.js"></script>
</head>
<body>
<!-- Header -->
<header class="layout header">
    <div class="layout__container">
        <div class="header__nav-container">
            <div class="col header__logo-wrap">
                <a href="">
                    <img src="img/oim-logo.png" class="logo-tcen" alt="logo" loading="lazy">
                </a>
            </div>

            <div class="col header__web-menu">
                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <a href="">Разработка микросхем</a>
                        <img src="img/expand_more.svg" class="header__nav__title__img" alt="arrow down" loading="lazy" />
                    </h4>
                    <ul class="header__nav__submenu">
                        <li><a href="" class="header__nav__submenu__item">Общие сведения о специализированных БИС</a></li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Разработка БИС на БМК серий 5503 и 5507</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Общие сведения о БМК</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Технологии проектирования специальной аппаратуры с применением БМК</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Состав серий БМК 5503 и 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Конструкция БМК серий 5503 и 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Корпусное исполнение БМК серий 5503 и 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Характеристики БМК серии 5503</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Характеристики БМК серии 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Условия эксплуатации БИС на БМК серии 5503</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Условия эксплуатации БИС на БМК серии 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Документация на БМК серий 5503 и 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Примеры реализации БИС на БМК серий 5503 и 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">БИС на МБК серий 5503 и 5507. Порядок разработки и освоения производства</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Скачать САПР Ковчег</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">БИС на БМК серий 5503 и 5507. Методология проектирования и освоение производства</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Описание САПР Ковчег</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Библиотека функциональных ячеек и СФ-блоков</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Разработка БИС на БСК серии 5529</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul  class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Общие сведения о БСК</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Состав БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Конструкция БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Корпусное исполнение БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Характеристики БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Условия эксплуатации БИС на БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Документация на БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Примеры реализации БИС на БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">БИС на БСК серии 5529. Порядок разработки и освоения производства</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Разработка заказных БИС</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul  class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Примеры реализации заказных БИС</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Заказные БИС. Порядок разработки и освоение в производстве</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <a href="" >Поставка микросхем</a>
                        <img src="img/expand_more.svg" class="header__nav__title__img" alt="arrow down" loading="lazy" />
                    </h4>
                    <ul class="header__nav__submenu">
                        <li><a href="" class="header__nav__submenu__item">Порядок поставки микросхем</a></li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Микросхемы общего назначения</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Микросхемы защиты от тиристорного эффекта</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Многофункциональные цифровые микросхемы замещения ИС 54 и 74 серий</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Приемопередатчики LVDS, LVDM, M-LVDS</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">ШИМ-контроллер для вторичных источников питания</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Цифровые изоляторы-аналоги серий ADUM</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Специализированные микросхемы серий 5503 и 5507</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Примеры реализации БИС на БМК серий 5503 и 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Условия поставки микросхем серий 5503 и 5507</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Специализированные заказные микросхемы</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul  class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Примеры реализации заказных БИС</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Условия поставки заказных микросхем</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <a href="" >Подготовка разработчиков</a>
                        <img src="img/expand_more.svg" class="header__nav__title__img" alt="arrow down" loading="lazy" />
                    </h4>
                    <ul class="header__nav__submenu">
                        <li><a href="" class="header__nav__submenu__item">Наши предложения по подготовке разработчиков</a></li>
                        <li>
                            <a href="" class="header__nav__submenu__item">САПР БИС на БМК серий 5503 и 5507 «Ковчег»</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Назначение САПР «Ковчег»</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Скачать САПР «Ковчег»</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Методическая литература</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul class="header__nav__submenu2">
                                    <li>
                                        <a href="" class="header__nav__submenu__item">Методология проектирования БИС на БМК серий 5503 и 5507</a>
                                    </li>
                                    <li>
                                        <a href="" class="header__nav__submenu__item">Описание САПР «Ковчег»</a>
                                    </li>
                                    <li>
                                        <a href="" class="header__nav__submenu__item">Библиотека функциональных ячеек и СФ-блоков</a>
                                    </li>
                                    <li>
                                        <a href="" class="header__nav__submenu__item">Лабораторный практикум. Цифровая схемотехника</a>
                                    </li>
                                    <li>
                                        <a href="" class="header__nav__submenu__item">Учебный курс «Основы электроники с использованием САПР БИС «Ковчег»</a>
                                    </li>
                                    <li>
                                        <a href="" class="header__nav__submenu__item">
                                            Учебный курс «Проектирование полузаказных микросхем на основе
                                            базовых матричных кристаллов серий 5503 и 5507 с использованием средств САПР БИС «Ковчег»
                                        </a>
                                    </li>
                                </ul>
                        </li>
                    </ul>
                </nav>

                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <a href="">Научная деятельность</a>
                        <img src="img/expand_more.svg" class="header__nav__title__img" alt="arrow down" loading="lazy" />
                    </h4>
                    <ul class="header__nav__submenu">
                        <li><a href="" class="header__nav__submenu__item">Разработка САПР БИС</a></li>
                        <li><a href="" class="header__nav__submenu__item">Разработка микроэлектронных технологий</a></li>
                        <li><a href="" class="header__nav__submenu__item">Разработка измерительных систем</a></li>
                    </ul>
                </nav>

                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <a href="">О нас</a>
                        <img src="img/expand_more.svg" class="header__nav__title__img" alt="arrow down" loading="lazy" />
                    </h4>
                    <ul class="header__nav__submenu">
                        <li><a href="" class="header__nav__submenu__item">История создания НПК «Технологический центр»</a></li>
                        <li><a href="" class="header__nav__submenu__item">Отдел интегральных микросхем</a></li>
                        <li><a href="" class="header__nav__submenu__item">Книги</a></li>
                        <li><a href="" class="header__nav__submenu__item">Публикации</a></li>
                        <li><a href="" class="header__nav__submenu__item">Патенты и свидетельства</a></li>
                        <li><a href="" class="header__nav__submenu__item">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="header-mobile">
            <button type="button" id="burger" class="burger">
                <img src="img/menu.svg" alt="menu" />
            </button>

            <a href="">
                <img src="img/logo.png" class="logo-tcen" alt="chip" loading="lazy">
            </a>

            <nav id="menu">
                <ul>
                    <li class="Selected"><a href="/">Главная</a></li>
                    <li><span>Разработка микросхем</span>
                        <ul>
                            <li><a href="">Общие сведения о специализированных БИС</a></li>
                            <li>
                                <span>Разработка БИС на БМК серий 5503 и 5507</span>
                                <ul>
                                    <li><a href="">Общие сведения о БМК</a></li>
                                    <li><a href="">Технологии проектирования специальной аппаратуры с применением БМК</a></li>
                                    <li><a href="">Состав серий БМК 5503 и 5507</a></li>
                                    <li><a href="">Конструкция БМК серий 5503 и 5507</a></li>
                                    <li><a href="">Корпусное исполнение БМК серий 5503 и 5507</a></li>
                                    <li><a href="">Характеристики БМК серии 5503</a></li>
                                    <li><a href="">Характеристики БМК серии 5507</a></li>
                                    <li><a href="">Условия эксплуатации БИС на БМК серии 5503</a></li>
                                    <li><a href="">Условия эксплуатации БИС на БМК серии 5507</a></li>
                                    <li><a href="">Документация на БМК серий 5503 и 5507</a></li>
                                    <li><a href="">Примеры реализации БИС на БМК серий 5503 и 5507</a></li>
                                    <li><a href="">БИС на БМК серий 5503 и 5507. Порядок разработки и освоения производства</a></li>
                                    <li><a href="">Скачать САПР "Ковчег"</a></li>
                                    <li><a href="">БИС на БМК серий 5503 и 5507. Методология проектирования и освоение производства</a></li>
                                    <li><a href="">Описание САПР "Ковчег"</a></li>
                                    <li><a href="">Библиотека функциональных ячеек и СФ-блоков</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Разработка БИС на БСК серии 5529</span>
                                <ul>
                                    <li><a href="">Общие сведения о БСК</a></li>
                                    <li><a href="">Маршрут проектирования БИС на БСК серии 5529</a></li>
                                    <li><a href="">Состав БСК серии 5529</a></li>
                                    <li><a href="">Конструкция БСК серии 5529</a></li>
                                    <li><a href="">Корпусное исполнение БСК серии 5529</a></li>
                                    <li><a href="">Характеристики БСК серии 5529</a></li>
                                    <li><a href="">Условия эксплуатации БИС на БСК серии 5529</a></li>
                                    <li><a href="">Документация на БСК серии 5529</a></li>
                                    <li><a href="">Библиотека функциональных ячеек серии 5529</a></li>
                                    <li><a href="">Примеры реализации БИС на БСК серии 5529</a></li>
                                    <li><a href="">БИС на БСК серии 5529. Порядок разработки и освоения производства</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Разработка заказных БИС</span>
                                <ul>
                                    <li><a href="">Примеры реализации заказных БИС</a></li>
                                    <li><a href="">Заказные БИС. Порядок разработки и освоения в производстве</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><span>Поставка микросхем</span>
                        <ul>
                            <li><a href="">Порядок поставки микросхем</a></li>
                            <li>
                                <span>Микросхемы общего назначения</span>
                                <ul>
                                    <li><a href="">Микросхемы защиты от тиристорного эффекта</a></li>
                                    <li><a href="">Многофункциональные цифровые микросхемы замещения ИС 54 и 74 серий</a></li>
                                    <li><a href="">Приемопередатчики LVDS, LVDM, M-LVDS</a></li>
                                    <li><a href="">ШИМ-контроллер для вторичных источников питания</a></li>
                                    <li><a href="">Цифровые изоляторы - аналоги серий ADUM</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Специализированные микросхемы серий 5503 и 5507</span>
                                <ul>
                                    <li><a href="">Примеры реализации БИС на БМК серий 5503 и 5507</a></li>
                                    <li><a href="">Условия поставки микросхем серий 5503 и 5507</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Специализированные микросхемы серии 5529</span>
                                <ul>
                                    <li><a href="">Примеры реализации БИС на БСК серии 5529</a></li>
                                    <li><a href="">Условия поставки микросхем серии 5529</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Специализированные заказные микросхемы</span>
                                <ul>
                                    <li><a href="">Примеры реализации заказных БИС</a></li>
                                    <li><a href="">Условия поставки заказных микросхем</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><span>Подготовка разработчиков</span>
                        <ul>
                            <li><a href="">Наши предложения по подготовке разработчиков</a></li>
                            <li>
                                <span>САПР БИС на БМК серий 5503 и 5507 «Ковчег»</span>
                                <ul>
                                    <li><a href="">Назначение САПР "Ковчег"</a></li>
                                    <li><a href="">Скачать САПР "Ковчег"</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Методическая литература</span>
                                <ul>
                                    <li><a href="">Методология проектирования БИС на БМК серий 5503 и 5507</a></li>
                                    <li><a href="">Описание САПР "Ковчег"</a></li>
                                    <li><a href="">Библиотека функциональных ячеек и СФ-блоков</a></li>
                                    <li><a href="">Лабораторный практикум. Цифровая схемотехника</a></li>
                                    <li><a href="">Учебный курс «Основы цифровой электроники с использованием САПР БИС «Ковчег»</a></li>
                                    <li><a href="">Учебный курс «Проектирование полузаказных микросхем на основе базовых матричных кристаллов серий 5503 и 5507 с использованием средств САПР БИС «Ковчег 3.04»</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><span>Научная деятельность</span>
                        <ul>
                            <li><a href="">Разработка САПР БИС</a></li>
                            <li><a href="">Разработка микроэлектронных технологий</a></li>
                            <li><a href="">Разработка измерительных систем</a></li>
                        </ul>
                    </li>
                    <li><span>О нас</span>
                        <ul>
                            <li><a href="">История создания НПК «Технологический центр»</a></li>
                            <li><a href="">Отдел интегральных микросхем</a></li>
                            <li><a href="">Книги</a></li>
                            <li><a href="">Публикации</a></li>
                            <li><a href="">Патенты и свидетельства</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</header>

<main>
    <!--		BANNER-->
    <section class="layout banner">
        <picture class="banner__img">
            <img src="img/banner-design0.jpg" alt="chips" loading="lazy">
        </picture>
        <div class="layout__container">
            <h1 class="page-title">Общие сведения о специализированных БИС</h1>
        </div>
    </section>

    <!--		BREADCRUMPS-->
    <section class="layout breadcrumbs">
        <div class="layout__container">
            <nav class="breadcrumbs__container">
                <a href="" class="breadcrumbs__link">Главная</a>
                <img src="img/chevron_right.svg" alt="arrow-right" loading="lazy">
                <a href="" class="breadcrumbs__link">Микросхемы общего назначения</a>
                <img src="img/chevron_right.svg" alt="arrow-right" loading="lazy">
                <a href="" class="breadcrumbs__link">Микросхемы защиты от тиристорного эффекта</a>
            </nav>
        </div>
    </section>

    <section class="layout">
        <article class="layout__container">
            <div class="card-text mt-1 mb-1">
                <p>
                    Для аппаратуры специального назначения определяющими факторами для использования в ней
                    той или иной электронной компонентной базы (ЭКБ) при всей важности экономических показателей
                    являются высокая надёжность, долговечность, повышенная стойкость к внешним воздействующим факторам,
                    низкое энергопотребление, высокая функциональность, а также сроки разработки и изготовления,
                    длительный период поддержания производства. Кроме этого, для подавляющего
                    большинства аппаратуры специального назначения обязательным условием является применение только отечественной ЭКБ.
                </p>
                <p>
                    Микросхемы можно разделить на два основных класса: микросхемы общего применения и
                    специализированные. К первому классу относятся микропроцессоры, микроконтроллеры,
                    периферийные устройства, микросхемы памяти, серии стандартных микросхем и многие другие.
                    В соответствии с ГОСТ Р 57435 «Микросхемы интегральные. Термины и определения» микросхема
                    общего применения – это микросхема, разработанная для применения в различных видах
                    радиоэлектронной аппаратуры. Объем производства таких микросхем составляет сотни тысяч и
                    миллионы штук в год. Большие объемы выпуска универсальных микросхем минимизируют вклад в
                    их стоимость достаточно больших затрат на проектирование и освоение в производстве.
                </p>
                <p>
                    Специализированными называются микросхемы, учитывающие специфические особенности и
                    требования радиоэлектронной аппаратуры. В соответствии с ГОСТ Р 57435 «Микросхемы интегральные.
                    Термины и определения» специализированная микросхема – это микросхема, разработанная по конкретному
                    заказу или разработанная потребителем для применения в конкретной радиоэлектронной аппаратуре.
                    Объем производства специализированных микросхем, как правило, не превышает нескольких тысяч штук в
                    год, микросхемы выпускаются для удовлетворения нужд отдельных отраслей промышленности для
                    конкретных видов оборудования (часто уникального). Поэтому в отличие от микросхем общего
                    применения значительная часть стоимости специализированных микросхем формируется за счет
                    затрат на их проектирование и освоение в производстве.
                </p>
                <p>
                    Особую группу среди специализированных микросхем занимают большие интегральные схемы (БИС),
                    применяемые в аппаратуре специального назначения и эксплуатируемые в условиях действия жёстких
                    внешних воздействующих факторов (ВВФ). Как правило, номенклатура таких микросхем велика,
                    сроки разработки ограничены, серийность, в силу специфики аппаратуры, не превышает нескольких
                    сотен микросхем, а производство часто имеет прерывистый характер. Поэтому стоимость микросхем
                    определяют не только затраты на проектирование и освоение производства,
                    включая квалификационные испытания, но и затраты на периодические испытания для
                    подтверждения уровня качества выпускаемых микросхем.
                </p>
                <p>
                    Специализированные микросхемы можно разделить на две группы - заказные и полузаказные.
                    Заказные микросхемы разрабатываются либо без учета какой-либо унификации, как полностью
                    заказные, либо с использованием унификации топологии ячеек - проектирование
                    на стандартных ячейках - и обеспечивают как цифровую, так и цифро-аналоговую
                    обработку сигналов (рисунок 1). Для проектирования специализированных цифровых
                    микросхем применяются программируемые логические интегральные схемы (ПЛИС) и
                    полузаказные микросхемы на базового матричного кристалла (БМК). Для реализации
                    цифро-аналоговой обработки сигналов, как правило, применяются микросхемы на
                    основе базовых (БК) и базовых структурированных кристаллов (БСК).
                    Цветом отмечены те типы микросхем, на разработке и производстве которых
                    специализируется НПК «Технологический центр». На данный момент освоены в производстве и
                    включены в Перечень ЭКБ серии БМК 5503 и 5507, серия БСК 5529.
                </p>
                <img src="img/spec_bis.jpg" class="center" alt="spec_bis" loading="lazy">
                <p>
                    Принято считать, что полностью заказные микросхемы обеспечивают максимальную функциональность,
                    надёжность и стойкость к ВВФ и минимальную стоимость при массовом производстве.
                    Однако разработка и освоение производства заказных микросхем – это длительный и дорогостоящий процесс.
                    Он вполне оправдан, когда речь идёт о больших тиражах микросхем общего применения.
                    Потребность же в конкретном типе специализированной микросхемы, особенно на этапе создания и
                    вывода нового изделия на рынок, относительно невелика, что несопоставимо с экономически оправданными
                    объемами выпуска заказных микросхем. Поэтому, в
                    большинстве случаев, когда речь идёт о сравнительно небольших партиях микросхем,
                    гораздо более целесообразно использовать полузаказные микросхемы.
                </p>
                <p>
                    ПЛИС, обладая преимуществами при разработке микросхем, в тоже время за счёт наличия дополнительных
                    элементов для программирования их структуры, имеют меньшую надёжность,
                    более высокое энергопотребление и более высокую стоимость.
                </p>
                <p>
                    Полузаказные БИС по показателям надёжности, энергопотребления и стойкости к ВВФ сравнимы с
                    заказными БИС, а по длительности цикла «разработка – изготовление –поставка» сопоставимы с циклом
                    «разработка – поставка – специализация» для ПЛИС.
                </p>
                <p>
                    Дальнейшим развитием направления полузаказных БИС стали микросхемы на основе БСК.
                    Термин базовый структурированный кристалл является относительно новым и
                    стандартизованного определения на данный момент не имеет. В определении БК и БМК
                    фигурирует полупроводниковая пластина, как типовая заготовка для будущей микросхемы,
                    в которой часть слоев (транзисторные структуры) являются типовыми, а часть для изготовления
                    межсоединений разрабатывается и изготавливается под заказ.
                    Поэтому микросхемы на основе БК и БМК называются полузаказными в отличие от
                    заказных микросхем, которые имеют уникальный набор всех топологических слоев.
                </p>
                <p>
                    Конструкция БСК и методология проектирования микросхем на основе БСК объединили в себя все
                    возможности и преимущества БК, БМК и заказных микросхем. В БСК – аналогично БМК – зафиксированы
                    размер кристалла, расположение контактных площадок и других элементов в периферийной области, а
                    также конструкция шин «земли-питания», но в отличии от БМК поле БСК представляет собой регулярную
                    матрицу разрешенных точек привязки функциональных ячеек и сложно-функциональных блоков (СФ-блоков).
                    Если в точки привязки разместить отдельные элементы
                    (транзисторы различных габаритов, резисторы, конденсаторы и др.) –
                    мы получим законченную топологию базовых слоев БК, если разместить базовую
                    ячейку БМК, то получится законченная
                    топология базовых слоев БМК, если разместить стандартные функциональные
                    ячейки и СФ-блоки, мы получим после разводки межсоединений заказную микросхему.
                </p>
                <p>
                    Таким образом базовый структурированный кристалл - это топологическая модель
                    конструкции кристалла микросхемы, определяющая структуру периферийной области,
                    шин «земли-питания», поля точек привязки стандартных ячеек и СФ-блоков, и
                    предназначенная для проектирования конструктивно подобных микросхем.
                </p>
                <p>
                    Если Вам, как разработчику радиоэлектронной аппаратуры, необходимо применить оригинальные
                    схемные решения и по тем или иным причинам они не могут быть реализованы на основе универсальных
                    микросхем, серии БМК 5503, 5507 и серия БСК 5529 обеспечат быструю разработку специализированной
                    микросхемы требуемого уровня сложности и качества по Вашему техническому заданию. Дополнительно
                    следует отметить, что производство БИС поддерживается в течение длительного времени -
                    более 15 лет (в течение всего жизненного цикла специальной аппаратуры), а количество
                    изготавливаемых микросхем может колебаться от единиц до сотен тысяч.
                </p>
                <p>
                    Благодаря указанным преимуществам применение специализированных БИС на основе
                    БМК и БСК в аппаратуре специального назначения часто не имеют альтернативы.
                </p>
            </div>
        </article>
    </section>
</main>

<!-- Footer -->
<footer class="layout footer">
    <div class="layout__container">
        <div class="row footer__container">
            <div class="col footer__contacts">
                <a href="http://tcen.ru/" class="footer__contacts__logo-container">
                    <img src="img/logo-white.png" alt="микросхема" loading="lazy" class="logo-tcen">
                    <span>tcen.ru</span>
                </a>
                <a href="tel:+74997208793" class="footer__contacts__phone">+7 499 720-87-93</a>
                <a href="tel:+74997208992" class="footer__contacts__phone">+7 499 720-89-92</a>
                <a href="mailto:kovcheg@tcen.ru" class="footer__contacts__mail">kovcheg@tcen.ru</a>
            </div>

            <div class="col footer__nav-container">
                <div class="footer__nav-wrap">
                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">Разработка микросхем</h4>
                        <a href="" class="footer__nav__item">Общие сведения о специализированных БИС</a>
                        <a href="" class="footer__nav__item">Разработка БИС на БСК серии 5529</a>
                        <a href="" class="footer__nav__item">Разработка БИС на БМК серии 5503 и 5507</a>
                        <a href="" class="footer__nav__item">Разработка заказных БИС</a>
                    </nav>
                </div>

                <div class="footer__nav-wrap">
                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">Поставка микросхем</h4>
                        <a href="" class="footer__nav__item">Порядок поставки</a>
                        <a href="" class="footer__nav__item">Специализированные микросхемы серии 5503 и 5507</a>
                        <a href="" class="footer__nav__item">Специализированные микросхемы серии 5529</a>
                        <a href="" class="footer__nav__item">Микросхемы общего назначения</a>
                        <a href="" class="footer__nav__item">Заказные микросхемы</a>
                    </nav>
                </div>

                <div class="footer__nav-wrap">
                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">О нас</h4>
                        <a href="" class="footer__nav__item">Отдел интегральных микросхем</a>
                        <a href="" class="footer__nav__item">Книги</a>
                        <a href="" class="footer__nav__item">Публикации</a>
                    </nav>

                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">Контакты</h4>
                        <a href="" class="footer__nav__item">Дирекция</a>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row footer__copy">
            2024 &copy; Все права защищены
        </div>
    </div>
</footer>
</body>
</html>