<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title>Asic</title>
    <base href="../">
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/vendors.css">
    <link rel="stylesheet" href="css/styles.css">
    <script defer src="js/vendors.js"></script>
    <script defer src="js/scripts.js"></script>
</head>

<body>
<main>
    <section class="layout coming-soon">
        <div class="coming-soon__container">
            <div class="col coming-soon__text-container">
                <div class="coming-soon__text-container__col-1">
                    <a href="http://tcen.ru/">
                        <img src="img/logo.png" class="logo-tcen" alt="chip" loading="lazy">
                    </a>
                </div>

                <div class="coming-soon__text-container__col-2">
                    <h1 class="coming-soon__title">Сайт находится в разработке.</h1>
                    <span class="text-gray text-center">
                        По вопросам поставки и разработки микросхем Вы можете обратиться по телефонам:
                    </span>
                    <div class="coming-soon__contacts">
                        <a href="tel:+74997208793" class="coming-soon__contacts__phone">+7 499 720-87-93</a>
                        <a href="tel:+74997208992" class="coming-soon__contacts__phone">+7 499 720-89-92</a>
                        <a href="mailto:kovcheg@tcen.ru" class="coming-soon__contacts__mail">kovcheg@tcen.ru</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <img src="img/DSC_7888.jpg" class="coming-soon__img" alt="the probe" loading="lazy" />
            </div>
        </div>
    </section>
</main>
</body>
</html>
