<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<title>OptimizedHTML 5</title>
	<base href="../">
	<meta name="description" content="Startup HTML template OptimizedHTML 5">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="img/favicon.png">
	<meta property="og:image" content="img/preview.jpg">
	<link rel="stylesheet" href="css/vendors.css">
	<link rel="stylesheet" href="css/styles.css">
	<script defer src="js/vendors.js"></script>
	<script defer src="js/scripts.js"></script></head>

<body>
<!-- Header -->
	<header class="layout header">
    <h2>header</h2>
</header>
	<main>
		<h1>Разработка микросхем</h1>
		<p>Разработка микросхем</p>
	</main>

<!-- Footer -->
	<footer class="layout footer">
    <h2>footer</h2>
</footer>

</body>
</html>
