<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About us page</title>
    <base href="../">
    <meta name="description" content="Startup HTML template OptimizedHTML 5">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="img/favicon.png">
    <meta property="og:image" content="img/preview.jpg">
    <link rel="stylesheet" href="css/vendors.css">
    <link rel="stylesheet" href="css/styles.css">
    <script defer src="js/vendors.js"></script>
    <script defer src="js/scripts.js"></script>
</head>
<body>
<!-- Header -->
    <header class="layout header">
    <div class="layout__container">
        <div class="header__nav-container">
            <div class="col header__logo-wrap">
                <a href="">
                    <img src="img/logo.png" class="logo-tcen" alt="chip" loading="lazy">
                </a>
            </div>

            <div class="col header__web-menu">
                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <a href="">Разработка микросхем</a>
                        <img src="img/expand_more.svg" class="header__nav__title__img" alt="arrow down" loading="lazy" />
                    </h4>
                    <ul class="header__nav__submenu">
                        <li><a href="" class="header__nav__submenu__item">Общие сведения о специализированных БИС</a></li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Разработка БИС на БМК серий 5503 и 5507</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Общие сведения о БМК</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Технологии проектирования специальной аппаратуры с применением БМК</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Состав серий БМК 5503 и 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Конструкция БМК серий 5503 и 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Корпусное исполнение БМК серий 5503 и 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Характеристики БМК серии 5503</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Характеристики БМК серии 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Условия эксплуатации БИС на БМК серии 5503</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Условия эксплуатации БИС на БМК серии 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Документация на БМК серий 5503 и 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Примеры реализации БИС на БМК серий 5503 и 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">БИС на МБК серий 5503 и 5507. Порядок разработки и освоения производства</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Скачать САПР Ковчег</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">БИС на БМК серий 5503 и 5507. Методология проектирования и освоение производства</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Описание САПР Ковчег</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Библиотека функциональных ячеек и СФ-блоков</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Разработка БИС на БСК серии 5529</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul  class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Общие сведения о БСК</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Состав БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Конструкция БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Корпусное исполнение БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Характеристики БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Условия эксплуатации БИС на БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Документация на БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Примеры реализации БИС на БСК серии 5529</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">БИС на БСК серии 5529. Порядок разработки и освоения производства</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Разработка заказных БИС</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul  class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Примеры реализации заказных БИС</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Заказные БИС. Порядок разработки и освоение в производстве</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <a href="" >Поставка микросхем</a>
                        <img src="img/expand_more.svg" class="header__nav__title__img" alt="arrow down" loading="lazy" />
                    </h4>
                    <ul class="header__nav__submenu">
                        <li><a href="" class="header__nav__submenu__item">Порядок поставки микросхем</a></li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Микросхемы общего назначения</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Микросхемы защиты от тиристорного эффекта</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Многофункциональные цифровые микросхемы замещения ИС 54 и 74 серий</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Приемопередатчики LVDS, LVDM, M-LVDS</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">ШИМ-контроллер для вторичных источников питания</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Цифровые изоляторы-аналоги серий ADUM</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Специализированные микросхемы серий 5503 и 5507</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Примеры реализации БИС на БМК серий 5503 и 5507</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Условия поставки микросхем серий 5503 и 5507</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Специализированные заказные микросхемы</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul  class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Примеры реализации заказных БИС</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Условия поставки заказных микросхем</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <a href="" >Подготовка разработчиков</a>
                        <img src="img/expand_more.svg" class="header__nav__title__img" alt="arrow down" loading="lazy" />
                    </h4>
                    <ul class="header__nav__submenu">
                        <li><a href="" class="header__nav__submenu__item">Наши предложения по подготовке разработчиков</a></li>
                        <li>
                            <a href="" class="header__nav__submenu__item">САПР БИС на БМК серий 5503 и 5507 «Ковчег»</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul class="header__nav__submenu2">
                                <li>
                                    <a href="" class="header__nav__submenu__item">Назначение САПР «Ковчег»</a>
                                </li>
                                <li>
                                    <a href="" class="header__nav__submenu__item">Скачать САПР «Ковчег»</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="header__nav__submenu__item">Методическая литература</a>
                            <svg xmlns="http://www.w3.org/2000/svg" class="header__nav__submenu__item__icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            <ul class="header__nav__submenu2">
                                    <li>
                                        <a href="" class="header__nav__submenu__item">Методология проектирования БИС на БМК серий 5503 и 5507</a>
                                    </li>
                                    <li>
                                        <a href="" class="header__nav__submenu__item">Описание САПР «Ковчег»</a>
                                    </li>
                                    <li>
                                        <a href="" class="header__nav__submenu__item">Библиотека функциональных ячеек и СФ-блоков</a>
                                    </li>
                                    <li>
                                        <a href="" class="header__nav__submenu__item">Лабораторный практикум. Цифровая схемотехника</a>
                                    </li>
                                    <li>
                                        <a href="" class="header__nav__submenu__item">Учебный курс «Основы электроники с использованием САПР БИС «Ковчег»</a>
                                    </li>
                                    <li>
                                        <a href="" class="header__nav__submenu__item">
                                            Учебный курс «Проектирование полузаказных микросхем на основе
                                            базовых матричных кристаллов серий 5503 и 5507 с использованием средств САПР БИС «Ковчег»
                                        </a>
                                    </li>
                                </ul>
                        </li>
                    </ul>
                </nav>

                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <a href="">Научная деятельность</a>
                        <img src="img/expand_more.svg" class="header__nav__title__img" alt="arrow down" loading="lazy" />
                    </h4>
                    <ul class="header__nav__submenu">
                        <li><a href="" class="header__nav__submenu__item">Разработка САПР БИС</a></li>
                        <li><a href="" class="header__nav__submenu__item">Разработка микроэлектронных технологий</a></li>
                        <li><a href="" class="header__nav__submenu__item">Разработка измерительных систем</a></li>
                    </ul>
                </nav>

                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <a href="">О нас</a>
                        <img src="img/expand_more.svg" class="header__nav__title__img" alt="arrow down" loading="lazy" />
                    </h4>
                    <ul class="header__nav__submenu">
                        <li><a href="" class="header__nav__submenu__item">История создания НПК «Технологический центр»</a></li>
                        <li><a href="" class="header__nav__submenu__item">Отдел интегральных микросхем</a></li>
                        <li><a href="" class="header__nav__submenu__item">Книги</a></li>
                        <li><a href="" class="header__nav__submenu__item">Публикации</a></li>
                        <li><a href="" class="header__nav__submenu__item">Патенты и свидетельства</a></li>
                        <li><a href="" class="header__nav__submenu__item">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="header-mobile">
            <button type="button" id="burger" class="burger">
                <img src="img/menu.svg" alt="menu" />
            </button>

            <a href="">
                <img src="img/logo.png" class="logo-tcen" alt="chip" loading="lazy">
            </a>

            <nav id="menu">
                <ul>
                    <li class="Selected"><a href="/">Главная</a></li>
                    <li><span>Разработка микросхем</span>
                        <ul>
                            <li><a href="">Общие сведения о специализированных БИС</a></li>
                            <li>
                                <span>Разработка БИС на БМК серий 5503 и 5507</span>
                                <ul>
                                    <li><a href="">Общие сведения о БМК</a></li>
                                    <li><a href="">Технологии проектирования специальной аппаратуры с применением БМК</a></li>
                                    <li><a href="">Состав серий БМК 5503 и 5507</a></li>
                                    <li><a href="">Конструкция БМК серий 5503 и 5507</a></li>
                                    <li><a href="">Корпусное исполнение БМК серий 5503 и 5507</a></li>
                                    <li><a href="">Характеристики БМК серии 5503</a></li>
                                    <li><a href="">Характеристики БМК серии 5507</a></li>
                                    <li><a href="">Условия эксплуатации БИС на БМК серии 5503</a></li>
                                    <li><a href="">Условия эксплуатации БИС на БМК серии 5507</a></li>
                                    <li><a href="">Документация на БМК серий 5503 и 5507</a></li>
                                    <li><a href="">Примеры реализации БИС на БМК серий 5503 и 5507</a></li>
                                    <li><a href="">БИС на БМК серий 5503 и 5507. Порядок разработки и освоения производства</a></li>
                                    <li><a href="">Скачать САПР "Ковчег"</a></li>
                                    <li><a href="">БИС на БМК серий 5503 и 5507. Методология проектирования и освоение производства</a></li>
                                    <li><a href="">Описание САПР "Ковчег"</a></li>
                                    <li><a href="">Библиотека функциональных ячеек и СФ-блоков</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Разработка БИС на БСК серии 5529</span>
                                <ul>
                                    <li><a href="">Общие сведения о БСК</a></li>
                                    <li><a href="">Маршрут проектирования БИС на БСК серии 5529</a></li>
                                    <li><a href="">Состав БСК серии 5529</a></li>
                                    <li><a href="">Конструкция БСК серии 5529</a></li>
                                    <li><a href="">Корпусное исполнение БСК серии 5529</a></li>
                                    <li><a href="">Характеристики БСК серии 5529</a></li>
                                    <li><a href="">Условия эксплуатации БИС на БСК серии 5529</a></li>
                                    <li><a href="">Документация на БСК серии 5529</a></li>
                                    <li><a href="">Библиотека функциональных ячеек серии 5529</a></li>
                                    <li><a href="">Примеры реализации БИС на БСК серии 5529</a></li>
                                    <li><a href="">БИС на БСК серии 5529. Порядок разработки и освоения производства</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Разработка заказных БИС</span>
                                <ul>
                                    <li><a href="">Примеры реализации заказных БИС</a></li>
                                    <li><a href="">Заказные БИС. Порядок разработки и освоения в производстве</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><span>Поставка микросхем</span>
                        <ul>
                            <li><a href="">Порядок поставки микросхем</a></li>
                            <li>
                                <span>Микросхемы общего назначения</span>
                                <ul>
                                    <li><a href="">Микросхемы защиты от тиристорного эффекта</a></li>
                                    <li><a href="">Многофункциональные цифровые микросхемы замещения ИС 54 и 74 серий</a></li>
                                    <li><a href="">Приемопередатчики LVDS, LVDM, M-LVDS</a></li>
                                    <li><a href="">ШИМ-контроллер для вторичных источников питания</a></li>
                                    <li><a href="">Цифровые изоляторы - аналоги серий ADUM</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Специализированные микросхемы серий 5503 и 5507</span>
                                <ul>
                                    <li><a href="">Примеры реализации БИС на БМК серий 5503 и 5507</a></li>
                                    <li><a href="">Условия поставки микросхем серий 5503 и 5507</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Специализированные микросхемы серии 5529</span>
                                <ul>
                                    <li><a href="">Примеры реализации БИС на БСК серии 5529</a></li>
                                    <li><a href="">Условия поставки микросхем серии 5529</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Специализированные заказные микросхемы</span>
                                <ul>
                                    <li><a href="">Примеры реализации заказных БИС</a></li>
                                    <li><a href="">Условия поставки заказных микросхем</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><span>Подготовка разработчиков</span>
                        <ul>
                            <li><a href="">Наши предложения по подготовке разработчиков</a></li>
                            <li>
                                <span>САПР БИС на БМК серий 5503 и 5507 «Ковчег»</span>
                                <ul>
                                    <li><a href="">Назначение САПР "Ковчег"</a></li>
                                    <li><a href="">Скачать САПР "Ковчег"</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Методическая литература</span>
                                <ul>
                                    <li><a href="">Методология проектирования БИС на БМК серий 5503 и 5507</a></li>
                                    <li><a href="">Описание САПР "Ковчег"</a></li>
                                    <li><a href="">Библиотека функциональных ячеек и СФ-блоков</a></li>
                                    <li><a href="">Лабораторный практикум. Цифровая схемотехника</a></li>
                                    <li><a href="">Учебный курс «Основы цифровой электроники с использованием САПР БИС «Ковчег»</a></li>
                                    <li><a href="">Учебный курс «Проектирование полузаказных микросхем на основе базовых матричных кристаллов серий 5503 и 5507 с использованием средств САПР БИС «Ковчег 3.04»</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><span>Научная деятельность</span>
                        <ul>
                            <li><a href="">Разработка САПР БИС</a></li>
                            <li><a href="">Разработка микроэлектронных технологий</a></li>
                            <li><a href="">Разработка измерительных систем</a></li>
                        </ul>
                    </li>
                    <li><span>О нас</span>
                        <ul>
                            <li><a href="">История создания НПК «Технологический центр»</a></li>
                            <li><a href="">Отдел интегральных микросхем</a></li>
                            <li><a href="">Книги</a></li>
                            <li><a href="">Публикации</a></li>
                            <li><a href="">Патенты и свидетельства</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</header>

    <main class="about-page">
    <!--		BREADCRUMPS-->
        <section class="layout breadcrumbs">
            <div class="layout__container">
                <nav class="breadcrumbs__container">
                    <a href="" class="breadcrumbs__link">Главная</a>
                    <img src="img/chevron_right.svg" alt="arrow-right" loading="lazy">
                    <a href="" class="breadcrumbs__link">Микросхемы общего назначения</a>
                    <img src="img/chevron_right.svg" alt="arrow-right" loading="lazy">
                    <a href="" class="breadcrumbs__link">Микросхемы защиты от тиристорного эффекта</a>
                </nav>
            </div>
        </section>

        <section class="layout">
            <article class="layout__container">
                <h1>Отдел интегральных микросхем (ОИМ)<br>Историческая справка</h1>
                <div class="card-text mt-2 mb-1">
                    Научно-производственный комплекс (НПК) "Технологический центр" был основан в июне 1988 г. как университетский исследовательский
                    центр Московского института электронной техники, а в 2000 году зарегистрирован как самостоятельная организация. НПК "Технологический
                    центр" расположен в городе Зеленограде.
                </div>
                <picture>
                    <img src="img/image2.jpg" class="about-page__img" alt="buildings in snow" loading="lazy">
                </picture>
                <div class="card-text mt-1">
                    В 1994 г. постановлением Правительства Российской Федерации нашей организации присвоен статус Государственного научного центра,
                    который сохраняется и по настоящее время. ГНЦ РФ НПК «Технологический центр» является единственным в России государственным научным
                    центром, в котором осуществляются комплексные исследования и разработки в области микро- и наноэлектроники, микро- и наносистемной
                    техники и приборов специального назначения на их основе: имеет Лицензию Российского агентства по системам управления на право
                    производства и разработки интегральных микросхем специального назначения.

                    В 1991 году в НПК «Технологический центр» была создана лаборатория базовых матричных кристаллов, которая в дальнейшем была
                    преобразована в отдел интегральных микросхем (ОИМ). За прошедшее время отделом выполнены сотни научно-исследовательских и
                    опытно-конструкторских работ, разработано более 1000 типов микросхем и микросборок для уникальной аппаратуры специального назначения.

                    В соответствии с Правилами оценки результативности деятельности научных организаций, выполняющих научно-исследовательские,
                    опытно-конструкторские и технологические работы, приказом Министерства образования РФ от 01.04.2011 г. № 1445 НПК «Технологический центр»
                    отнесен к 1-ой категории: научные организации – лидеры.

                    Ряд сотрудников ОИМ является лауреатами премии правительства Российской Федерации за цикл работ по созданию элементной базы для
                    радиоэлектронной аппаратуры нового поколения.
                </div>
                <div class="card-grid img-grid-3 mt-1">
                    <picture>
                        <img src="img/image3.jpg" class="about-page__img" alt="human and computer" loading="lazy">
                    </picture>
                    <picture>
                        <img src="img/image4.jpg" class="about-page__img" alt="human and computer" loading="lazy">
                    </picture>
                    <picture>
                        <img src="img/image5.jpg" class="about-page__img" alt="human and computer" loading="lazy">
                    </picture>
                </div>

                <div class="card-text mt-1">
                    Особенностью ОИМ является комплексный подход при создании новых изделий. Проектирование микросхем выполняется на основе
                    оригинальных, освоенных в производстве базовых (матричных и структурированных) кристаллов. При этом используются созданные в ОИМ
                    средства проектирования и прототипирования, что позволяет обеспечить высокое качество и значительное сокращение сроков разработки
                    специализированных БИС. Для осваиваемых в производстве изделий создаются измерительные стенды и изготавливается необходимая
                    измерительная и испытательная оснастка.

                    Разработчики ОИМ обеспечивают дизайн-сервис цифровых, аналоговых и смешанных микросхем. Можно выделит четыре основных принципа,
                    которые лежат в основе наших разработок:<br>

                    <ol>
                        <li>
                            Ориентация на отечественную элементную базу, разрешённую к применению в аппаратуре специального назначения. Разработка
                            технических требований к изделиям выполняется с учётом возможностей освоенных в производстве серий базовых матричных
                            кристаллов (БМК) серий 5503, 5507 и базовых структурированных кристаллов (БСК) серий 5521, 5529 и 5543. Благодаря этому обеспечивается
                            эволюционная отладка изделия, начиная со стадии эскизного проекта до опытных и серийных образцов.
                        </li>
                        <li>
                            Получение годных образцов с первой партии микросхем. Это достигается за счёт:
                            <ul>
                                <li>
                                    применения методов бездефектного проектирования на стадии создания электрической схемы;
                                </li>
                                <li>
                                    разработки функциональных и контрольно-диагностических тестов проверки проекта микросхемы, обеспечивающих не только анализ
                                    правильности функционирования и тестируемости, но и полный параметрический контроль микросхемы;
                                </li>
                                <li>
                                    разработки топологии с учётом особенностей проекта микросхемы;
                                </li>
                                <li>
                                    аттестации проекта микросхемы с учетом воздействия факторов окружающей среды и разброса параметров технологии изготовления.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Применение оригинальных библиотек функциональных ячеек и СФ-блоков, учитывающих особенности и преимущества БМК и БСК;
                        </li>
                        <li>
                            Прототипирование микросхем, позволяющее провести исследования и испытания микросхемы на ПЛИС в составе реальной аппаратуры до
                            их изготовления.
                        </li>
                    </ol>

                    Отдел включает в себя 6 научно-исследовательские лабораторий (НИЛ):<br><br>

                    <b>НИЛ перспективной элементной базы и технологических маршрутов микросхем</b><br><br>

                    Специалисты лаборатории разрабатывают новые технологические процессы и маршруты, которые определяют основу уникальных технологий
                    изготовления интегральных микросхем. Полученные параметры полупроводниковых структур и конструктивно-технологические ограничения
                    становятся основой для разработки конструкций новых серий микросхем, имеющих повышенную устойчивость к внешним воздействующим
                    факторам, включая радиационные.<br><br>

                    <b>НИЛ разработки цифровых БИС</b><br><br>

                    Специалисты лаборатории занимаются разработкой конструкций новых серий БМК и БСК, библиотек ячеек и СФ-блоков, выполняют полный
                    цикл разработки и подготовки к производству цифровых микросхем и систем на кристалле на основе процессорных ядер различной
                    архитектуры.<br><br>

                    <b>НИЛ разработки аналого-цифровых БИС</b><br><br>

                    Лаборатория занимается разработкой аналоговых и аналого-цифровых специализированных микросхем и микросхем общего применения,
                    подготовкой их производства, включая разработку контрольно-диагностических измерительных систем и стендов, методик измерения
                    параметров БИС и необходимой оснастки.<br><br>

                    <b>НИЛ прецизионных исследований БИС</b><br><br>

                    Основное направление деятельности лаборатории – освоение производства разработанных БИС:<br><br>
                    <ul>
                        <li>разработка программ контроля для измерительного оборудования;</li>
                        <li>разработка конструкторской документации;</li>
                        <li>разработка измерительной и испытательной оснастки;</li>
                        <li>организация проведения квалификационных и типовых испытаний новых изделий, включая подготовку программ испытаний.</li>
                    </ul>

                    <br>
                    <b>НИЛ разработки САПР</b><br><br>

                    Сотрудники лаборатории более 30 лет занимаются разработкой систем автоматизированного проектирования специализированных
                    микросхем. Первая САПР БИС была реализована в 1985 году и была внедрена на 10 промышленных предприятиях СССР. С 1991 года ведутся
                    работы по созданию интегрированной САПР полузаказных БИС, получившее название "Ковчег". Промышленная версия САПР "Ковчег 3.04"
                    включает в себя все подсистемы, необходимые для разработки полузаказных БИС серий 5503 и 5507, свободно распространяется с 2015 года и
                    внедрена в учебные программы 14 ВУЗов России.<br><br>

                    <b>НИЛ перспективной ЭКБ</b><br><br>

                    Специалисты лаборатории организуют выполнение поисковых и прикладных научно-исследовательских и опытно-конструкторских работ по
                    заказу министерств и ведомств РФ.

                </div>
            </article>
        </section>
    </main>

<!-- Footer -->
    <footer class="layout footer">
    <div class="layout__container">
        <div class="row footer__container">
            <div class="col footer__contacts">
                <a href="">
                    <img src="img/logo-white.png" alt="микросхема" loading="lazy" class="logo-tcen">
                </a>
                <a href="tel:+74997208793" class="footer__contacts__phone">+7 499 720-87-93</a>
                <a href="tel:+74997208992" class="footer__contacts__phone">+7 499 720-89-92</a>
                <a href="mailto:kovcheg@tcen.ru" class="footer__contacts__mail">kovcheg@tcen.ru</a>
            </div>

            <div class="col footer__nav-container">
                <div class="footer__nav-wrap">
                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">Разработка микросхем</h4>
                        <a href="" class="footer__nav__item">Общие сведения о специализированных БИС</a>
                        <a href="" class="footer__nav__item">Разработка БИС на БСК серии 5529</a>
                        <a href="" class="footer__nav__item">Разработка БИС на БМК серии 5503 и 5507</a>
                        <a href="" class="footer__nav__item">Разработка заказных БИС</a>
                    </nav>
                </div>

                <div class="footer__nav-wrap">
                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">Поставка микросхем</h4>
                        <a href="" class="footer__nav__item">Порядок поставки</a>
                        <a href="" class="footer__nav__item">Специализированные микросхемы серии 5503 и 5507</a>
                        <a href="" class="footer__nav__item">Специализированные микросхемы серии 5529</a>
                        <a href="" class="footer__nav__item">Микросхемы общего назначения</a>
                        <a href="" class="footer__nav__item">Заказные микросхемы</a>
                    </nav>
                </div>

                <div class="footer__nav-wrap">
                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">О нас</h4>
                        <a href="" class="footer__nav__item">Отдел интегральных микросхем</a>
                        <a href="" class="footer__nav__item">Книги</a>
                        <a href="" class="footer__nav__item">Публикации</a>
                    </nav>

                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">Контакты</h4>
                        <a href="" class="footer__nav__item">Дирекция</a>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row footer__copy">
            2023 &copy; Все права защищены
        </div>
    </div>
</footer>
</body>
</html>