<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title>OptimizedHTML 5</title>
    <base href="../">
    <meta name="description" content="Startup HTML template OptimizedHTML 5">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="img/favicon.png">
    <meta property="og:image" content="img/preview.jpg">
    <link rel="stylesheet" href="css/vendors.css">
    <link rel="stylesheet" href="css/styles.css">
    <script defer src="js/vendors.js"></script>
    <script defer src="js/scripts.js"></script></head>

<body>
<!-- Header -->
<header class="layout header">
    <div class="layout__container">
        <div class="row header__nav-container">
            <div class="col">
                <a href="">
                    <img src="img/logo.png" class="logo-tcen" alt="chip" loading="lazy">
                </a>
            </div>
            <div class="col">
                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <span>Разработка микросхем</span>
                        <img src="img/expand_more.svg" alt="arrow down" loading="lazy" class="header__nav__title__img">
                    </h4>
                    <div class="header__nav__submenu">
                        <a href="" class="header__nav__submenu__item">Общие сведения о специализированных БИС</a>
                        <a href="" class="header__nav__submenu__item">Разработка БИС на БСК серии 5529</a>
                        <a href="" class="header__nav__submenu__item">Разработка БИС на БМК серии 5503 и 5507</a>
                        <a href="" class="header__nav__submenu__item">Разработка заказных БИС</a>
                    </div>
                </nav>

                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <span>Микросхемы</span>
                        <img src="img/expand_more.svg" alt="arrow down" loading="lazy" class="header__nav__title__img">
                    </h4>
                    <div class="header__nav__submenu">
                        <a href="" class="header__nav__submenu__item">Микросхемы защиты от тиристорного эффекта</a>
                        <a href="" class="header__nav__submenu__item">Многофункциональные цифровые микросхемы замещения ИС</a>
                        <a href="" class="header__nav__submenu__item">Приемопередатчики LVDS, LVDM, M-LVDS></a>
                        <a href="" class="header__nav__submenu__item">ШИМ-контроллер для вторичных источников питания</a>
<!--                        <a href="" class="header__nav__submenu__item">Порядок поставки</a>-->
<!--                        <a href="" class="header__nav__submenu__item">Специализированные микросхемы серии 5503 и 5507</a>-->
<!--                        <a href="" class="header__nav__submenu__item">Специализированные микросхемы серии 5529</a>-->
<!--                        <a href="" class="header__nav__submenu__item">Микросхемы общего назначения</a>-->
<!--                        <a href="" class="header__nav__submenu__item">Заказные микросхемы</a>-->
                    </div>
                </nav>

                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <span>Подготовка разработчиков</span>
                        <img src="img/expand_more.svg" alt="arrow down" loading="lazy" class="header__nav__title__img">
                    </h4>
                    <div class="header__nav__submenu">
                        <a href="" class="header__nav__submenu__item">САПР БИС на БМК серий 5503 и 5507 “Ковчег 3,04”</a>
                        <a href="" class="header__nav__submenu__item">Методическая литература</a>
                        <a href="" class="header__nav__submenu__item">Скачать САПР “Ковчег 3.04”</a>
                    </div>
                </nav>

                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <span>Научная деятельность</span>
                        <img src="img/expand_more.svg" alt="arrow down" loading="lazy" class="header__nav__title__img">
                    </h4>
                    <div class="header__nav__submenu">
                        <a href="" class="header__nav__submenu__item">Разработка САПР БИС</a>
                        <a href="" class="header__nav__submenu__item">Разработка микроэлектронных технологий</a>
                        <a href="" class="header__nav__submenu__item">Разработка измерительных систем</a>
                    </div>
                </nav>

                <nav class="header__nav">
                    <h4 class="header__nav__title">
                        <span>О нас</span>
                        <img src="img/expand_more.svg" alt="arrow down" loading="lazy" class="header__nav__title__img">
                    </h4>
                    <div class="header__nav__submenu">
                        <a href="" class="header__nav__submenu__item">Книги</a>
                        <a href="" class="header__nav__submenu__item">Публикации</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<main>
<!--		BREADCRUMPS-->
    <section class="layout breadcrumbs">
        <div class="layout__container">
            <nav class="breadcrumbs__container">
                <a href="" class="breadcrumbs__link">Главная</a>
                <img src="img/chevron_right.svg" alt="arrow-right" loading="lazy">
                <a href="" class="breadcrumbs__link">Микросхемы общего назначения</a>
                <img src="img/chevron_right.svg" alt="arrow-right" loading="lazy">
                <a href="" class="breadcrumbs__link">Микросхемы защиты от тиристорного эффекта</a>
            </nav>
        </div>
    </section>

<!--		Title-->
    <section class="layout">
        <div class="layout__container">
            <h1>Микросхемы защиты от тиристорного эффекта</h1>
        </div>
    </section>

<!--		Table-->
    <section class="layout">
        <div class="layout__container">
            <table>
                <thead>
                    <tr>
                        <th>Условное обозначение</th>
                        <th>Описание м/сх</th>
                        <th>Технические условия</th>
                        <th>Корпус</th>
                        <th>Цена за 1шт, руб</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1469ТК015</td>
                        <td>
                            <div class="table-cell">
                                <a href="">Описание</a>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <a href="">ТУ</a>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <a href="">Корпус</a>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <a href="">15000</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>1469ТК025</td>
                        <td>
                            <div class="table-cell">
                                <a href="">Описание</a>
                                <a href="">Описание2</a>
                                <a href="">Описание3</a>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <a href="">ТУ</a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a href="">Корпус</a>
                            </div>
                        </td>
                        <td>
                            <div class="table-cell">
                                <a href="">15000</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

<!-- Footer -->
<footer class="layout footer mt-2">
    <div class="layout__container">
        <div class="row footer__container">
            <div class="col footer__contacts">
                <a href="">
                    <img src="img/logo-white.png" alt="микросхема" loading="lazy" class="logo-tcen">
                </a>
                <a href="tel:+74997208793" class="footer__contacts__phone">+7 499 720-87-93</a>
                <a href="tel:+74997208992" class="footer__contacts__phone">+7 499 720-89-92</a>
                <a href="mailto:kovcheg@tcen.ru" class="footer__contacts__mail">kovcheg@tcen.ru</a>
            </div>

            <div class="col footer__nav-container">
                <div class="row">
                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">Разработка микросхем</h4>
                        <a href="" class="footer__nav__item">Общие сведения о специализированных БИС</a>
                        <a href="" class="footer__nav__item">Разработка БИС на БСК серии 5529</a>
                        <a href="" class="footer__nav__item">Разработка БИС на БМК серии 5503 и 5507</a>
                        <a href="" class="footer__nav__item">Разработка заказных БИС</a>
                    </nav>

                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">Поставка микросхем</h4>
                        <a href="" class="footer__nav__item">Порядок поставки</a>
                        <a href="" class="footer__nav__item">Специализированные микросхемы серии 5503 и 5507</a>
                        <a href="" class="footer__nav__item">Специализированные микросхемы серии 5529</a>
                        <a href="" class="footer__nav__item">Микросхемы общего назначения</a>
                        <a href="" class="footer__nav__item">Заказные микросхемы</a>
                    </nav>
                </div>

                <div class="row">
                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">Подготовка разработчиков</h4>
                        <a href="" class="footer__nav__item">САПР БИС на БМК серий 5503 и 5507 “Ковчег 3,04”</a>
                        <a href="" class="footer__nav__item">Методическая литература</a>
                        <a href="" class="footer__nav__item">Скачать САПР “Ковчег 3.04”</a>
                    </nav>

                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">Научная деятельность</h4>
                        <a href="" class="footer__nav__item">Разработка САПР БИС</a>
                        <a href="" class="footer__nav__item">Разработка микроэлектронных технологий</a>
                        <a href="" class="footer__nav__item">Разработка измерительных систем</a>
                    </nav>
                </div>

                <div class="row">
                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">О нас</h4>
                        <a href="" class="footer__nav__item">Отдел интегральных микросхем</a>
                        <a href="" class="footer__nav__item">Книги</a>
                        <a href="" class="footer__nav__item">Публикации</a>
                    </nav>

                    <nav class="footer__nav">
                        <h4 class="footer__nav__title">Контакты</h4>
                        <a href="" class="footer__nav__item">Дирекция</a>
                    </nav>
                </div>

            </div>
        </div>

        <div class="row footer__copy">
            2023 &copy; Все права защищены
        </div>
    </div>
</footer>

</body>
</html>
